body {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.3;
}

a {
	color: #666;
}
a:hover {
	text-decoration: none;
}

span.passed {
	color: green;
}
span.failed {
	color: red;
}
span.warning {
	color: orange;
}